@media screen and (max-width: 1280px) {
    .container {
      padding: 0 10px;
      max-width: 100%;
    }
    .hero:before {
      z-index: 0;
      width: 100%;
    }
    .hero__content-pic {
      z-index: -1;
    }
    .hero__content:before {
      display: none;
    }
    .section__form-wrapper::before, .section__form-wrapper::after, .section__form-list::before, .section__form-list::after {
      display: none;
    }
    .scroll__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
    }
    .insert__pic {
        width: 45%;
        height: auto;
        margin-left: 30px;
    }
    .features__list {
      grid-template-columns: repeat(3, 280px);
    }
    .journal__pic {
        margin:-71px 0 82px 25px
    }
    .vip__elem {
        padding-left: 20px;
    }
    .vip__list {
        grid-template-columns: repeat(2, 440px);
    }
    .vip__elem-img--1 img {
        width: 130px;
    }
    .vip__elem-img--2 img {
    width: 150px;
    }
    .vip__elem-img--3 img {
        width: 140px;
    }
    .vip__elem-img--4 img {
        width: 135px;
    }
    .order__desc {
      min-width: 450px;
      width: 450px;
    }
    .order-form {
      padding: 50px 46px 28px 46px;
      margin-right: 10px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      padding: 0 5px;
    }
    .header__logo {
      width: 100px;
    }
    .hero:before {
      z-index: 0;
    }
    .hero__content-pic {
      display: none;
    }
    .hero__content {
      width: auto;
      padding-top:50px;
      padding-bottom:70px;
    }
    .hero__content::after {
      display: none;
    }
    .hero__desc {
      width: auto;
    }
    .section__form-wrapper {
      margin: 0 0 40px;
      position: static;
    }
    .section__form-wrapper .form {
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 10px;
    }
    .section__form-wrapper .form .presale__form-label:last-of-type {
      margin-right: 0;
    }
    .section__form-wrapper .form .presale__form-btn {
      margin-left: auto;
      margin-top: 5px;
    }
    .section__form-wrapper .form .presale__form-label, .section__form-wrapper .form .presale__form-btn {
      width: 60%;
      margin: 0 auto 20px;
    }
    .section__form-wrapper .form .presale__form-label:last-of-type, .section__form-wrapper .form .presale__form-btn:last-of-type {
      margin-right: auto;
    }
    .details__wrapper {
        margin: 0 0 40px 0;
    }
    .details__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .details__elem {
        padding-bottom: 30px;
    }
    .details__elem:last-child{
        padding-bottom: 0;
    }
    .details__elem-title {
        padding-left:55px;
    }
    .details__elem-title::before {
        height: 30px;
    }
    .details__elem-title--support::before {
        width: 49px;
    }
    .insert--third .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .insert__pic {
        margin-top: 30px;
        margin-left: 0;
        width: auto;
    }
    .expert__content {
        width: 55%;
    }
    .scroll {
      display: none;
    }
    .advice__pic {
      margin-left: 40px;
    }
    .journal__content {
        width: 420px;
    }
    .journal__content-text {
        font-size: 28px;
    }
    .journal__pic {
        margin-left: 10px;
        width: 450px;
    }
    .journal__pic-quest {
        width: 100%;
    }
    .journal__pic-quest img {
        height: auto;
    }
    .features__list {
      grid-template-columns: repeat(2, 340px);
    }
    .features__elem {
      padding-top: 20px;
    }
    .features__elem:nth-child(even) {
      border-right: none;
    }
    .features__elem:nth-child(3) {
        border-right: 1px solid #D1D1D1;
    }
    .features__elem:nth-child(4) {
      border-bottom: 1px solid #d1d1d1;
    }
    .vip__list {
        grid-template-columns: repeat(2, 340px);
    }
    .vip__elem {
        padding:25px 22px 25px 42px;
    }
    .vip__elem:first-child {
        padding-bottom: 25px;
      }
    .vip__elem-img {
        display: none;
    }
    .order {
      padding: 40px 10px 0 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .order__content {
        margin-bottom:30px;
    }
    .order__desc {
      width: auto;
      font-size: 28px;
    }
    .order-form {
      width: 80%;
      margin: 0;
      margin-top: 20px;
    }
    .footer {
      flex-direction: column;
    }
    .footer__content-right {
      margin-top: 40px;
    }
    .footer__content-logo {
      width: auto;
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      width: 95%;
    }
    .header {
      padding: 0 0 0 10px;
    }
    .header__logo {
      width: 80px;
    }
    .hero {
      background-color: transparent;
      padding-bottom: 20px;
    }
    .hero:before {
      background-size: cover;
    }
    .hero .hero__header {
      flex-direction: column;
      align-items: start;
    }
    .hero .hero__header .hero__header-link:first-of-type .hero__header-logo {
      width: 100px;
    }
    .hero__signup {
      display: none;
    }
    .hero__header-logo {
        margin-bottom: 10px;
    }
    .hero__header-menu {
        width: 100%;
    }
    .hero__content {
      margin-top: 28px;
      padding-bottom: 20px;
      margin: 0;
    }
    .hero__title {
      font-size: 34px;
      line-height: 45px;
      width: auto;
      z-index: 99;
      margin-top: 0;
      padding-top: 0;
      font-size: 50px;
    }
    .hero__desc {
      width: auto;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
      z-index: 21;
    }
    .hero__button {
      width: 100%;
      height: 46px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 22px;
    }
    .hero__content-image {
      position: static;
      margin-top: 20px;
    }
    .hero__content-pic {
      display: none;
    }
    .section__form .container {
      padding: 0;
    }
    .section__form-wrapper .form .presale__form-label, .section__form-wrapper .form .presale__form-btn {
      width: 90%;
    }
    .form__agreement {
      padding: 0 10px;
    }
    .insert__desc {
      font-size: 18px;
    }
    .insert__pic {
        width: auto;
        max-width: 100%;
        margin-left: 0;
    }
    .expert {
        flex-direction: column;
    }
    .expert__content {
        width: 90%;
    }
    .expert__date {
        margin-top: 40px;
    }
    .section__expert .owl-carousel {
        width: 100%;
    }
    .owl-nav {
        display: none !important;
      }
    .features {
        padding-top: 40px;
    }
    .features__list {
      grid-template-columns: repeat(1, 80%);
      margin-top: 0;
    }
    .features__elem-wrapper {
      min-height: 120px;
      border-bottom: none;
    }
    .features__elem {
      padding-right: 0;
      border: none;
    }
    .features__elem:nth-child(3) {
        border-right: none;
    }
    .features__elem:nth-child(4) {
      border-bottom: none;
    }
    .insert--second .insert {
      padding-top: 40px;
    }
    .advice {
      flex-direction: column-reverse;
    }
    .advice__content {
      width: 100%;
      margin: 0 auto 30px;
    }
    .advice__pic {
      width: auto;
      margin: 0;
    }
    .advice__pic-anim {
      width: 250px;
    }
    .advice__pic-anim img {
      max-width: 100%;
      object-fit: contain;
    }
    .journal {
      flex-direction: column-reverse;
    }
    .journal__content {
      width: 100%;
      margin: 0 auto;
    }
    .journal__pic {
      width: auto;
      margin: 0 auto;
    }
    .vip__list {
        grid-template-columns: repeat(1, 100%);
    }
    .vip__elem {
        padding:25px 22px 25px 42px;
    }
    .vip__elem:first-child {
        padding-bottom: 0px;
      }
    .vip__elem-img {
        display: block;
    }
    .section-order {
      margin-top: 40px;
    }
    .section-order .container {
      padding: 0;
    }
    .order {
      margin-bottom: 0;
      padding: 40px 25px 51px 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .order__content {
        margin-bottom: 10px;
        width: 80%;
    }
    .order__desc {
      width: auto;
      min-width: auto;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
    }
    .order-form {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      background: transparent;
    }
    .order-form .order-input {
      padding: 7px 12px;
      border: 1px solid #979797;
    }
    .crmresult {
      margin-left: 0;
      padding: 45px 35px 28px 35px;
    }
    .footer__wrapper {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 55px;
    }
    .footer__content-right {
      width: auto;
    }
    .footer__rules {
      flex-direction: column;
    }
    .private__policy {
      margin: 5px 0;
    }
    .footer__logo {
      margin-top: 40px;
      margin-left:0;
    }
  }
  @media screen and (max-width: 430px) {
    .hero__content {
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
    }
    .hero__content:after {
      display: block;
      top: auto;
      right: -80px;
      width: 200px;
      height: 250px;
      bottom: 0;
      z-index: -1;
      background-size: contain !important;
    }
    .hero__title {
      width: auto;
      font-size: 50px;
    }
    .hero__desc {
      width: auto;
      margin-top: 20px;
    }
    .hero__desc--holiday {
      width: 350px;
    }
    .order__desc {
      text-align: left;
    }
    .hero__content-pic {
      display: block;
      width: 100%;
      height: auto;
      bottom: 60px;
      left: auto;
      right: 0;
      transform: none;
    }
    .hero__button {
      margin-top: 30px;
    }
    .hero__present {
      width: auto;
    }
    .section__form-wrapper {
        padding:30px 20px 20px;
    }
    .section__form-wrapper .form .presale__form-label, .section__form-wrapper .form .presale__form-btn {
        width: 100%;
    }
    .insert__pic {
        width: 90%;
    }
    .vip__elem-img {
        display: none;
    }
    .vip__elem-wrapper:first-child {
        padding-bottom: 40px;
    }
    .journal__pic-quest {
        width: 100%;
    }
    .footer__copyright span {
      display: block;
    }
    .footer__logo {
      margin-left: revert;
    }
    .id2-rx-noauth-informer-button, .id2-rx-noauth-informer-button span {
      font-size: 0;
    }
    .id2-rx-user-informer-block a.support-icon:hover {
      background-position: center bottom;
    }
    .informer-wrapper .id2-rx-user-informer-block a.support-icon {
      background-size: cover;
      display: none;
    }
    .informer-wrapper .id2-rx-user-informer-block .id2-rx-user-informer-button {
      font-size: 0 !important;
      padding: 8px 0px 8px 45px;
    }
  }