/* Fonts */
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 300;
  src: local("ProximaNova-Light"), local("Proxima Nova Light"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: local("ProximaNova-Regular"), local("Proxima Nova Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  src: local("ProximaNova-Semibold"), local("Proxima Nova Semibold"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: local("ProximaNova-Bold"), local("Proxima Nova Bold"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 800;
  src: local("ProximaNova-Extrabld"), local("Proxima Nova Extrabld"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 900;
  src: local("ProximaNova-Black"), local("Proxima Nova Black"), url("../fonts/ProximaNova-Black.woff2") format("woff2");
}
/*  */
* {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "ProximaNova";
  width: 100%;
  min-width: 375px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p, input {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.informer-wrapper .id2-rx-user-informer-block {
  display: flex;
}

.informer-wrapper .id2-rx-user-informer-block .id2-rx-user-informer-button {
  background-color: #6e7992;
  padding: 8px 12px 8px 40px;
  font-size: 13px !important;
  color: #d6d6d6;
  border-width: inherit;
  border-radius: 2px;
  background-image: none;
  border-color: transparent;
  height: auto;
}

.informer-wrapper .id2-rx-user-informer-block .id2-rx-noauth-informer-button .id2-rx-user-informer-icon {
  top: 50% !important;
  transform: translateY(-50%) !important;
  background: url("../../img/action-logo-w.svg") no-repeat center !important;
}

.informer-wrapper .id2-rx-user-informer-block a.support-icon {
  align-self: flex-end;
}

.id2-rx-user-informer-icon {
  top: 50% !important;
  transform: translateY(-50%) !important;
  background: url("../../img/action-logo-w.svg") no-repeat center !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #E5E5E5;
}

.header__logo {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__signin {
  line-height: 0; }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.header__links .link {
  color: #a29e9c;
  font-size: 13px;
  line-height: 0.85;
}

.header__links .link:last-child {
  margin-left: 24px;
  background-color: #6e7992;
  padding: 8px 12px 8px 5px;
  color: #d6d6d6;
  border-radius: 2px;
}

.hero {
  position: relative;
  background: #ffffff;
  color: #000;
  overflow: hidden;
  z-index: 0;
}
.hero__devider {
  border-bottom:2px solid #E5E5E5;
  width: 100%;
}
.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 25px;
}
.hero__header-link {
  line-height: 0;
}

.hero__header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color:#6E7992;
  width: 50%;
}
.hero__header-menu__link {
  color:#6E7992;
  text-decoration: none;
}

.hero__content {
  position: relative;
  padding-bottom: 170px;
  padding-top: 90px;
  color: #ffffff;
  z-index: 1;
}

.hero__title {
  position: relative;
  width: 550px;
  margin: 0;
  font-size: 50px;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.hero__desc {
  position: relative;
  width: 430px;
  margin: 0;
  margin-top: 20px;
  font-size: 25px;
  line-height: 120%;
  color: #000000;
}

.hero__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 54px;
  margin-top: 28px;
  padding: 0;
  font-family: inherit;
  font-size: 23px;
  line-height: 21px;
  color: #ffffff;
  background: #0278ff;
  border: none;
  border-radius: 4px;
  transition: 0.4s;
}
.hero__button:hover {
  background-color: #0165D8;
}
.hero__button:hover:visited {
  color: #ffffff;
}

.hero__content-image {
  position: absolute;
  right: 0px;
  top: 15px;
}

.hero__content-pic {
  width: 622px;
  height: auto;
  object-fit: contain;
  z-index: -1;
}

.section__form {
  position: relative;
  z-index: 101;
  background-color: transparent;
}

.section__form .crmresult {
  height: auto;
}
.section__form-desc {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 25px;
}
.section__form-wrapper {
  position: relative;
  top: -100px;
  min-height: 163px;
  margin-bottom: -60px;
  padding: 31px 30px 20px;
  background-color: white;
  border: solid 1px #DCDCDC;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}
.presale__form-label {
  width: 25%;
  margin-left: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
  color: #474D5E;
}
.presale__form-label:first-of-type {
  margin-left: 0;
}
.presale__form-label:last-of-type {
  margin-right: 21px;
}

.presale__form-input {
  display: block;
  width: 100%;
  height: 46px;
  margin-top: 10px;
  padding: 0 17px 0 15px;
  font-size: 16px;
  line-height: 19px;
  color: black;
  border: solid 1px #DCDCDC;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.presale__form-input:focus {
  border: solid 0.5px #474D5E;
  transition: 0.3s;
}

.presale__form-btn {
  width: 230px;
  height: 46px;
  padding: 0;
  font-size: 20px;
  line-height: 22px;
  color: white;
  background-color: #D0021B;
  border-radius: 3px;
  outline: none;
  transition: 0.3s;
}
.presale__form-btn:focus, .presale__form-btn:hover {
  background-color: #c10319;
}

.form__agreement {
  margin-top: 17px;
  margin-left: auto;
  font-size: 15px;
  color: #474D5E;
}

.crmresult {
  justify-content: center;
  align-items: center;
  min-height: 86px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;
  color: #2F3441;
  background: #ffffff;
}

.details__wrapper {
  display: flex;
  flex-direction: column;
  padding: 42px 40px 40px 40px;
  background-color: white;
  border: solid 1px #DCDCDC;
  border-radius: 10px;
  margin:0 20px 40px;
}
.details__list {
  display: grid;
  grid-template-columns: 30% 32% 30%;
  column-gap: 40px;
  margin: 0;
}
.details__elem-title {
  position: relative;
  margin: 0;
  
  font-size: 22px;
  line-height: 130%;
  font-weight: 700;
  min-height: 30px;
}
.details__elem-title--alert {
  padding-left: 37px;
}
.details__elem-title--support {
  padding-left: 65px;
}
.details__elem-title--search {
  padding-left: 55px;
}
.details__elem-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 54px;
  background: no-repeat center;
  background-size: contain;
}
.details__elem-title--alert::before {
  background-image: url("../img/icon-alert.svg");
}
.details__elem-title--support::before {
  background-image: url("../img/icon-support.svg");
  width: 56px;
}
.details__elem-title--search::before {
  background-image: url("../img/icon-search.svg");
  width: 43px;
}
.details__elem-desc {
  margin: 0;
  margin-top: 20px;
  font-size: 13px;
  line-height: 130%;
  color: #000;
}

.scroll {
  padding-top: 40px;
  background-color: #F6F6F6;
}
.scroll__wrapper {
  display: grid;
  grid-template-columns: 500px 555px;
  justify-content: space-between;
}
.scroll__caption {
  font-size: 40px;
  line-height: 130%;
  font-weight: 700;
  color: #000;
}
.scroll__desc {
  margin-top: 40px;
  font-size: 21px;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
}
.scroll__list {
  margin-top: 50px;
}
.scroll__item {
  position: relative;
  width: 470px;
  margin-bottom: 40px;
  cursor: pointer;
  color: #435466;
  font-size: 18px;
}
.scroll__item:last-of-type {
  margin-bottom: 0;
}
.scroll__item--active .scroll__item-desc {
  position: relative;
  font-weight: 600;
  font-size: 22px;
}
.scroll__item--active .scroll__item-desc::before {
  content: "";
  position: absolute;
  top: 15px;
  right: -100px;
  width: 80px;
  height: 2px;
  background-color: #D0021B;
}
.scroll__item-caption {
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #D0021B;
  border: 1px solid #D0021B;
  border-radius: 3px;
}
.scroll__item-desc {
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}
.scroll__image {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 965px;
  overflow: hidden;
  border: 1px solid #E5E5E5;
  background-color: #f5f4f1;
}
.scroll__pic {
  object-fit: contain;
}
.scroll__pic--main {
  transition: 0.5s;
  width: 80%;
}
.scroll__pic--desc {
  width: 20%;
}


.insert__title {
  font-size: 40px;
  line-height: 130%;
  color: #000;
  font-weight: 700;
  padding-bottom: 30px;
}
.insert__desc {
  margin: 0;
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2D3039;
}
.insert__line {
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}
.insert--first {
  padding-top: 40px;
  background-color: #f6f6f6;
}
.insert--second .insert {
  padding-top: 59px;
}
.insert--third .insert {
  padding-top: 59px;
}
.insert--third .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.insert--white {
  background-color: #ffffff;
}
.insert__pic {
  margin-bottom: 30px;
}

.section__expert {
  padding-top: 20px;
  padding-bottom: 50px;
}
.expert {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}
.expert__content {
  width: 600px;
}
.expert__date-text { 
  color: #D0021B;
  font-weight: 700;
  font-size: 74px;
  line-height: 20px;
}
.expert__date span {
  font-size: 24px;
}
.expert__date-notice {
  font-size: 14px !important;
  font-weight: 600;
  display: block;
  color:#000;
}
.section__expert .owl-carousel {
  width: 80%;
  margin: 0 auto;
}
.expert__elem {
  text-align: center;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.expert__elem-pic {
  margin-bottom: 13px;
  width: 96px !important;
  height: auto;
}
.expert__elem-name {
  font-size: 14px;
}
.expert__elem-position {
  font-size: 16px;
  font-weight: 600;
}

.owl-item.active.center .expert__elem-pic {
  width: 168px !important;
}
.owl-carousel {
  position: relative;
}
.owl-nav {
  display: block !important;
  width: 100%;
  position: absolute;
}
.owl-nav .owl-prev {
  position: absolute;
  bottom:50px;
  left:-74px;
}
.owl-nav .owl-next {
  position: absolute;
  bottom:50px;
  right:-74px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-prev:hover {
    width: 64px;
    height: 64px;
    background: url("../img/owl-prev.svg") no-repeat; 
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-next:hover {
    width: 64px;
    height: 64px;
    background: url("../img/owl-next.svg") no-repeat; 
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
      display: none; 
}

.features {
  padding-top: 60px;
  background-color: #F6F6F6;
}
.features__wrapper {
  display: flex;
  flex-direction: column;
}
.features__list {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  column-gap: 39px;
  margin: 0;
  padding-bottom: 53px;
}
.features__elem {
  padding-right: 42px;
  border-right: 1px solid #D1D1D1;
}
.features__elem:nth-child(n+4) {
  padding-top: 20px;
}
.features__elem:nth-child(n+4) .features__elem-wrapper {
  border-bottom: none;
  min-height: 115px;
}
.features__elem:nth-child(3n) {
  border-right: none;
}
.features__elem-wrapper {
  min-height: 160px;
  border-bottom: 1px solid #D1D1D1;
}
.features__elem-title {
  position: relative;
  margin: 0;
  padding-left: 34px;
  font-size: 22px;
  line-height: 130%;
  color: #d0021b;
}
.features__elem-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: contain;
}
.features__elem-title--play::before {
  background-image: url("../img/formiobrazci.svg");
}
.features__elem-title--pravo::before {
  background-image: url("../img/pravo.svg");
}
.features__elem-title--conf::before {
  background-image: url("../img/journal&book.svg");
}
.features__elem-title--discuss::before {
  background-image: url("../img/spravochniki.svg");
}
.features__elem-title--seminar::before {
  background-image: url("../img/icon-seminar.svg");
}
.features__elem-title--service::before {
  background-image: url("../img/service.svg");
}
.features__elem-desc {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

.section__advice {
  background-color: #fff;
}
.advice {
  display: flex;
  justify-content: space-between;
}
.advice__content {
  width: 465px;
  padding-top:22px;
  font-size: 18px;
  line-height: 130%;
}
.advice__content-text {
  margin-bottom: 30px;
}
.advice__content-alert {
  font-size: 22px;
  line-height: 130%;
  font-weight: 600;
  color:#D0021B;
}
.advice__list {
  margin-top: 20px;
}
.advice__list-item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 34px;
}
.advice__list-item:last-child {
  margin-bottom: 0;
}
.advice__list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: no-repeat center;
  background-size: contain;
}
.advice__list-item--online::before {
  background-image: url("../img/icon-online.svg");
}
.advice__list-item--mail::before {
  background-image: url("../img/icon-mail.svg");
}
.advice__list-item--whatsapp::before {
  background-image: url("../img/icon-whatsapp.svg");
}

.advice__pic {
  position: relative;
  width: 600px;
  margin: -50px 0 82px 75px;
  line-height: 0;
}
.advice__pic-quest {
  width: 350px;
  margin-top: 34px;
}
.advice__pic-quest img {
  max-width: 100%;
}
.advice__pic-anim {
  position: absolute;
  top: 0;
  right: 0;
  width: 327px;
}
.advice__pic-anim img {
  max-width: 100%;
}

.section__journal {
  background-color: #fff;
}
.journal {
  display: flex;
  justify-content: space-between;
}
.journal__content {
  width: 465px;
  padding-top:22px;
  font-size: 18px;
  line-height: 130%;
}
.journal__content-text {
  margin-bottom: 30px;
  font-size: 33px;
  line-height: 130%;
}
.journal__pic {
  position: relative;
  width: 604px;
  margin: -71px 0 82px 75px;
  line-height: 0;
}
.journal__pic-quest {
  width: 604px;
}
.journal__pic-quest img {
  max-width: 100%;
}

.vip {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #E5E5E5;
}
.vip__wrapper {
  display: flex;
  flex-direction: column;
}
.vip__list {
  display: grid;
  grid-template-columns: 545px 545px;
  column-gap:40px;
  margin: 0;
}
.vip__elem {
  background-color: #ffffff;
  border: 1px solid #E9E7E6;
  border-radius: 3px;
  padding:15px 22px 15px 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.vip__elem:first-child {
  padding-bottom: 0;
}
.vip__elem-wrapper {
  padding-right: 20px;
}
.vip__elem-title {
  position: relative;
  margin: 0;
  font-size: 22px;
  line-height: 130%;
  color: #d0021b;
  padding:0;
}
.vip__elem-desc {
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}
.vip__elem-img img {
  width: 100%;
  height: auto;
}
.vip__elem-img--1 img {
  display: flex;
  width: 190px;
}
.vip__elem-img--2 img {
  width: 215px;
}
.vip__elem-img--3 img {
  width: 202px;
}
.vip__elem-img--4 img {
  width: 215px;
}

.section-order {
  background-color: #fff;
  margin-top: 60px;
}
.order {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 59px 42px 0;
  margin-bottom: 104px;
  background: #F6F6F6;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
}
.order__content {
  width: 545px;
}
.order__desc {
  width: 400px;
  min-width: 520px;
  font-weight: 300;
  color: #000;
  font-size: 33px;
  line-height: 130%;
}
.order__desc span {
  display: inline;
  color: #D0021B;
  font-weight: 400;
}
.order-form {
  display: flex;
  flex-direction: column;
  width: 474px;
  padding: 56px 56px 28px 55px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.order-input {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 120%;
  color: #474D5E;
  border: none;
  border-bottom: 1px solid #474D5E;
  border-radius: 0;
  outline: none;
}
.order-input:focus {
  border:none;
  border-bottom: 1px solid #000;
  outline: none;
}
.order-input:last-of-type {
  margin-bottom: 40px;
}

.order__form-button {
  width: 100%;
  height: 54px;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  color: white;
  background-color: #0278FF;
  transition: 0.3s;
  border-radius: 4px;
}
.order__form-button:hover, .order__form-button:focus {
  background-color: #0074EB;
  outline: none;
}
.form__agreement-order {
  margin-top: 14px;
  font-size: 12px;
  line-height: 130%;
  color:#474D5E;
}

.footer {
  background: #424040;
  color: #ffffff;
}

.footer__wrapper {
  display: flex;
  align-items: flex-end;
  padding: 56px 0 60px 0;
  line-height: 120%;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
}

.footer__copyright-link {
  display: flex;
  flex-direction: column;
  display: inline;
  color: #ffffff;
}

.footer__policy {
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  color: #ffffff;
}

.footer__content {
  font-size: 13px;
  color: #fff;
}
.copyright__link, .rules__link, .private__link {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
.footer__rules {
  display: flex;
  margin-top: 10px;
}
.footer__logo {
  margin-left: auto;
}

