@media screen and (max-width: 1220px) {
    .container {
        width: 95%;
        padding:0;
    }
    .hero__logo {
        width: 200px;
        height: auto;
    }
    .hero__wrapper-phone {
        font-size: 18px;
    }
    .hero__video {
        margin-bottom: 50px;
    }
    .hero__clip-title {
        font-size: 40px;
    }
    .hero__clip-rotate {
        width: 220px;
        top: calc(50% - 120px);
    }
    .promo__wrapper {
        padding: 12px 31px 16px 31px;
    }
    .promo__title {
        font-size: 40px;
    }
    .promo__wrapper-column:first-child {
        width: 47%;
    }
    .promo__wrapper-old {
        font-size: 30px;
    }
    .promo__wrapper-new {
        font-size: 40px;
    }
    .promo__wrapper-img {
        min-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .hero {
        background-position-x: right, right, right;
        background-position-y: 83px, center, 110%;
        background-size: 300px, contain, contain;
        color:#fff;
        padding-bottom: 100px;
      }
    .hero__wrapper {
        flex-wrap: wrap;
    }
    .hero__wrapper-title {
        order:3;
        width: 100%;
        margin-top: 46px;
        font-size: 34px;
    }
    .hero__logo {
        order:1;
    }
    .hero__wrapper-phone {
        order:2;
    }
    .hero__promo {
        padding:0 31px;
    }
    .hero__promo-title {
        font-size: 30px;
    }
    .hero__promo-price {
        margin-left: 0;
    }
    .hero__promo-price--old {
        font-size: 18px;
    }
    .hero__promo-price--new {
        font-size: 28px;
    }
    .hero__clip {
        flex-wrap: wrap;
        padding:44px 50px;
    }
    .hero__clip-column,
    .hero__clip-column:nth-child(2) {
        width: 100%;
    }
    .hero__clip-title {
        font-size: 36px;
    }
    .hero__clip-button {
        margin-bottom: 38px;
    }
    .hero__clip-rotate {
        width: 263px;
        top: -28px;
        left: calc(0% - 28px);
    }
    .partners__title {
        font-size: 36px;
    }
    .partners__column {
        width: 70%;
    }
     .partners__column:last-child {
        width: 30%;
        text-align: center;
    }
    .programm {
        padding: 80px 0;
    }
    .programm__title {
        font-size: 36px;
    }
    .programm__item-name {
        font-size: 20px;
    }
    .programm__item-expert {
        padding-right:0;
    }
    .promo__wrapper {
        padding:25px 31px;
    }
    .promo__title {
        font-size: 36px;
    }
    .promo__wrapper-old {
        font-size: 26px;
    }
    .promo__wrapper-new {
        font-size: 32px;
    }
    .promo__button {
        height: 53px;
        font-size: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .hero__promo {
        flex-wrap: wrap;
        padding:25px;
    }
    .hero__promo-title {
        order:1;
        width: 100%;
    }
    .hero__promo-price {
        order:2;
        width: 50%;
    }
    .hero__promo-img {
        order:3;
        width: 50%;
    }
    .hero__promo-img img {
        margin-top: 0px;
    }
    .hero__clip {
        padding:40px 30px;
    }
    .hero__clip-text {
        font-size: 16px;
    }
    .hero__clip-button {
        font-size: 16px;
        height: 59px;
    }
    .hero__clip-rotate {
        width: 180px;
    }
    .partners {
        padding:50px 0 20px;
        background-position: bottom center;
        background-size: contain;
    }
    .partners__wrapper {
        flex-wrap: wrap;
    }
    .partners__column,
    .partners__column:last-child {
        width: 100%;
    }
    .partners__column-img {
        max-width: 310px;
        width: 100%;
        margin:0 auto;
    }
    .partners__grid-item {
        height: 124px;
    }
    .partners__grid-item img {
        max-width: 60%;
    }
    .programm__item {
        padding:35px 30px;
    }
    .programm__item-expert {
        align-items: flex-start;
    }
    .programm__item-expert--img {
        min-width: 89px;
    }
    .promo__wrapper {
        flex-wrap: wrap;
        background-image: url('../img/promo-bg-mob.png');
        background-size: contain;
        background-position: center;
    }
    .promo__wrapper-column:first-child {
        width: 100%;
    }
    .promo__wrapper-column:nth-child(2),
    .promo__wrapper-column:nth-child(3) {
        width: 45%;
    }
    .promo__wrapper-column:last-child {
        align-self: center;
    }
    .promo__title {
        font-size: 34px;
        margin-bottom: 0;
    }
    .promo__wrapper-img {
        max-width: 100%;
    }
    .promo__wrapper-old {
        font-size: 20px;
    }
    .promo__wrapper-new {
        font-size: 28px;
    }
    .promo__button {
        display: none;
    }
    .promo__wrapper-column--mobile {
        display: block;
        width: 100%;
    }
    .promo__button-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 53px;
        margin: 0px;
        padding: 0;
        font-family: inherit;
        font-size: 16px;
        line-height: 1;
        font-weight: 900;
        color: #fff;
        background-color: #F0351D;
        border: none;
        border-radius: 10px;
        transition: 0.2s; 
    }
    .footer {
        padding:50px 0;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        text-align: left;
    }
    .footer__copyright {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__copyright p {
        margin-bottom: 5px;
    }
    .footer__logo {
        margin-left:0;
    }
}

@media screen and (max-width: 430px) {
    .hero {
        background-position-x: 180%, right, right;
    }
    .hero__logo {
        width: 151px;
    }
    .hero__wrapper-phone {
        font-size: 13px;
    }
    .hero__wrapper-phone span {
        font-size: 9px;
    }
    .hero__promo {
        padding:15px;
    }
    .hero__promo-price--new {
        padding:7px;
        font-size: 24px;
    }
    .hero__promo-img {
       width: 50%;
    }
    .hero__clip {
        margin-top: 80px;
        padding:50px 20px;
    }
    .partners__grid-item {
        height: 104px;
    }
    .programm {
        padding:54px 0;
    }
    .programm__title {
        font-size: 34px;
    }
    .programm__item-name {
        font-size: 16px;
    }
    .programm__item-expert--img {
        min-width: 80px;
    }
    .programm__item-expert--name {
        font-size: 12px;
        padding-left: 15px;
    }
    .promo__title {
        font-size: 26px;
    }
    .promo__wrapper-old {
        font-size: 16px;
    }
    .promo__wrapper-new {
        font-size: 25px;
    }
}