/* Fonts */
  
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 900;
  src: local("Graphik-Bold"), local("Graphik-Bold"), url("../fonts/Graphik-Bold.woff2") format("woff2"); 
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  src: local("Graphik-Medium"), local("Graphik-Medium"), url("../fonts/Graphik-Medium.woff2") format("woff2"); 
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: normal;
  src: local("Graphik-Regular"), local("Graphik-Regular"), url("../fonts/Graphik-Regular.woff2") format("woff2"); 
}
  
*,
*::before,
*::after {
    box-sizing: inherit; 
  }
html {
  
  box-sizing: border-box;
  background-color: #E41011;
  scroll-behavior: smooth; 
} 
body {
  position: relative;
  margin: 0;
  font-family: 'Graphik', "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 125%;
  color: #000;  
}  
button {
  outline: none;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}
li {
  list-style-type: none;
}
p, input, h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: inherit;
}
a {
  text-decoration: none; 
}
img {
  max-width: 100%;
  height: auto; 
}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto; 
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}  
.header__logo {
  padding-left: 18px; 
}
.header__signin {
  line-height: 0; 
}

.hero {
  background-image:url('../img/hero-bg-1.png'), url('../img/hero-bg-2.png'), url('../img/hero-bg-3.png');
  background-repeat:  no-repeat,  no-repeat,  no-repeat;
  background-position-x: left, right, right;
  background-position-y: 141px, 30%, 110%;
  color:#fff;
  padding-bottom: 100px;
}
.hero__wrapper {
  padding:55px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.hero__logo {
  width: 256px;
  height: 67px;
}
.hero__wrapper-title {
  font-size: 28px;
  line-height: 104%;
  font-weight: 900;
}
.hero__wrapper-phone {
  font-size: 20px;
  font-weight: 900;
}
.hero__wrapper-phone span {
  display: block;
  font-weight: normal;
  font-size: 14px;
}
.hero__promo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 40px;
  padding:0 101px 0 31px;
  background: #fff url('../img/promo-bg.png') no-repeat top right;
  border-radius: 15px;
  color:#000;
}
.hero__promo-title {
  font-size: 35px;
  line-height: 110%;
  width: 35%;
}
.hero__promo-price {
  display: flex;
  flex-direction: column;
  margin-left: -90px;
}
.hero__promo-price--old {
  font-size: 20px;
  line-height: 125%;
  font-weight: normal;
  padding-left: 36px;
  margin-bottom: 7px;
}
.hero__promo-price--old span {
  position: relative;
}
.hero__promo-price--old span:before {
  border-bottom: 2px solid #C40C09;
  position: absolute;
  content: "";
  width: 95%;
  height: 60%;
  transform: rotate(-6deg);
}
.hero__promo-price--new {
  font-size: 32px;
  line-height: 121%;
  color:#fff;
  font-weight: 900;
  background-color: #EB2F1A;
  border-radius: 10px;
  padding:9px
}
.hero__promo-img img {
  margin-top: -34px;
}

.hero__video {
  margin-bottom: 100px;
  max-width: 100%;
}
.hero__video video {
  max-width: 100%;
}

.hero__clip {
  background-color: #fff;
  color:#000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding:44px 44px 44px 70px;
  position: relative;
}
.hero__clip-column {
  width: 40%;
  position: relative;
}
.hero__clip-column:nth-child(2) {
  width: 50%;
  text-align: right;
  vertical-align: middle;
}
.hero__clip-title {
  font-size: 49px;
  line-height: 110%;
  margin-bottom: 23px;
}
.hero__clip-text {
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 32px;
}
.hero__clip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  margin: 0px auto;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  color: #fff;
  background-color: #F0351D;
  border: none;
  border-radius: 10px;
  transition: 0.2s; 
}
.hero__clip-button:hover {
  background-color: #D92411; 
}
.hero__clip-video {
  width: 100%;
}
.hero__clip-rotate {
  position: absolute;
  top:calc(50% - 128px);
  left: calc(0% - 78px);
  
}
.hero__clip-rotate img.rot {
  animation: 25s linear  normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.partners {
  background: #242424 url('../img/partners-bg-1.png') no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  padding:97px 0;
  color: #fff;
}
.partners__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners__column {
  width: 60%;
}
.partners__column:last-child {
  width: 40%;
}
.partners__title {
  font-size: 49px;
  line-height: 110%;
  font-weight: 900;
  margin-bottom: 70px;
}
.partners__grid {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.partners__grid-item {
  border:1px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 187px;
}
.partners__column-img {
  margin:0 auto;
}

.programm {
  color:#fff;
  padding:115px 0;
}
.programm__title {
  font-size: 49px;
  line-height: 110%;
  font-weight: 900;
  margin-bottom: 27px;
}
.programm__item {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #fff;
  padding: 39px 50px;
  color:#000;
}
.programm__item-name {
  font-weight: 900;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 20px;
}
.programm__item-expert {
  display: flex;
  align-items: center;
  padding-right: 140px;
}
.programm__item-expert--img {
  min-width: 111px;
  box-sizing: border-box;
}
.programm__item-expert--name {
  padding-left: 24px;
  font-size: 16px;
  line-height: 150%;
}
.programm__item-expert--name {
  margin-bottom: 5px;
}

.promo {
  background-color: #242424;
  padding:83px 0;
}
.promo__wrapper {
  background: #fff url('../img/promo-bg-2.png') no-repeat top center;
  border-radius: 15px;
  padding:8px 81px 16px 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:20px;
  box-sizing: border-box;
}
.promo__wrapper-column--mobile {
  display: none;
}
.promo__wrapper-column:first-child {
  text-align: left;
}
.promo__wrapper-column:nth-child(2){
  text-align: center;
  align-self: flex-start;
  padding-top: 32px;
}
.promo__title {
  font-size: 47px;
  line-height: 110%;
  font-weight: 900;
  margin-bottom: 20px;
}
.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 348px;
  height: 60px;
  margin: 0px;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  color: #fff;
  background-color: #F0351D;
  border: none;
  border-radius: 10px;
  transition: 0.2s; 
}
.promo__button:hover {
  background-color: #D92411; 
}
.promo__wrapper-old {
  font-size: 34px;
  line-height: 100%;
  margin-bottom: 7px;
}
.promo__wrapper-old span {
  position: relative;
}
.promo__wrapper-old span:before {
  border-bottom: 4px solid #C40C09;
  position: absolute;
  content: "";
  width: 95%;
  height: 60%;
  transform: rotate(-6deg);
}
.promo__wrapper-new {
  font-size: 46px;
  line-height: 120%;
  font-weight: 900;
}
.promo__wrapper-img {
  min-width: 294px;
}
   
.footer {
  border-top: 1px solid #fff;
  background-color: #242424; 
  color:#fff;
  padding:65px 0;
}
.footer__wrapper {
  display: flex;
  align-items: center;
}
.footer__copyright {
  margin: 0;
  font-size: 13px; 
}
.footer__copyright p {
  margin-bottom: 15px;
}
.footer__copyright-link {
  display: flex;
  flex-direction: column;
  display: inline;
  color: #fff; 
}
.footer__policy {
  color: #fff; 
  margin-right: 15px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 1px;
}
.footer__logo {
  width: 165px;
  height: 22px;
  margin-left: auto; 
}
  