html {
    font-family: 'ProximaNova',Helvetica Neue,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 26px;
    border-bottom: 1px solid #D8D8D8;
  }
  
  .header__logo {
    padding-left: 18px;
  }
  
  .header__signin {
    line-height: 0;
  }
main {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

/*навигация*/
.navbar {
    max-width: 1180px;
    margin: 0 auto;
    padding:30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo-img {
    margin-right: 30px;
}
.navbar__menu {
    display: flex;
}
.navbar__menu li {
    margin-right: 20px;
}
.navbar__menu-link {
    font-size: 16px;
    line-height: 1.55;
    color: #000;
    text-decoration: none;
}
.navbar__menu-link:hover,
.navbar__menu-link:focus,
.navbar__menu-link:active {
    color: #000;
    text-decoration: none;
}
.navbar__phone {
    margin-left: 20px;
}
.navbar__phone-link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.55;
}
.navbar__phone-link:hover,
.navbar__phone-link:focus,
.navbar__phone-link:active {
    color: #000;
    text-decoration: none;
}
.navbar__phone-link::before {
    content: '';
    display: inline-block;
    width: 15px;
    height:16px;
    background: url('../images/icon-phone-white.png') no-repeat left;
    margin-right: 5px;
}

/*шапка*/
.head {
    max-width: 100%;
    margin: 0 auto;
    background: rgb(44,23,209);
    background: radial-gradient(circle, rgba(44,23,209,1) 0%, rgba(27,118,201,1) 38%, rgba(51,134,227,1) 71%, rgba(45,26,211,1) 100%);
    background-position: 50%;
    box-sizing: border-box;
    display: flex;
    color:#fff;
    position: relative;
    z-index: 20;
}
.head__inner {
    width: 100%;
    background: url('../images/head-bg.png') no-repeat right top;
    background-size: contain;
}
.head__container {
    max-width: 1180px;
    margin:0 auto;
    padding:108px 0 130px;
    box-sizing: border-box;
    display: flex;
}
.head__left {
    width: 48%;
    box-sizing: border-box;
    z-index: 50;
    position: relative;
}
.head__left::after {
    content: '';
    width: 672px;
    height: 527px;
    background: url('../images/head-img1.png') no-repeat top center;
    position: absolute;
    z-index: 30;
    top:-30px;
    left:60%;
    overflow: hidden;
}
.head__right {
    width: 52%;
    text-align: right;
    z-index: 50;
    align-self: center;
}
.head__title {
    font-weight: 500;
    font-size: 49px;
    line-height: 1.05;
    text-align: left;
    margin-bottom: 20px;
}
.head__text {
    font-size: 18px;
    line-height: 1.38;
    margin-bottom: 30px;
}

.headpromo {
    background-color: #fff;
    max-width: 1180px;
    margin:0 auto;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding:22px 50px;
    z-index: 200;
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 97px;
    box-sizing: border-box;
}
.headpromo__title {
    font-size: 45px;
    line-height: 1.05;
    font-weight: 500;
}
.headpromo__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 59px;
    margin-top: 20px;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: normal;
    background-color: #FF7900;
    border-radius: 10px;
}
.headpromo__btn:visited,
.headpromo__btn:active,
.headpromo__btn:focus {
    color:#fff;
}

/*блок популярные курсы*/
.popular-courses {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}
.popular-courses__title {
    padding:0 69px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: center;
    margin-bottom: 40px;
}
.popular-courses__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.popular-courses__badge {
    color: #FF7900;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    padding: 9px 23px;
    border:1px solid #FF7900;
    border-radius: 6px;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}
.active-badge {
    color:#fff;
    background-color: #FF7900;
}

.popular-courses__courses {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:37px;
}

.popular-courses__block {
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px 30px 0;
    border-radius: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}
.popular-courses__block:nth-child(3n) {
    margin-right: 0px;
} 
.popular-courses__block-top {
    color: #A9B2B1;
    font-size: 18px;
    line-height: 1.52;
    margin-bottom: 42px;
}
.popular-courses__block-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.popular-courses__block-link:hover,
.popular-courses__block-link:visited,
.popular-courses__block-link:focus {
    text-decoration: none;
    color: #000;
}
.popular-courses__block-name {
    font-size: 28px;
    line-height: 1.14;
    font-weight: bold;
    margin-bottom: 42px;
}
.popular-courses__more {
    color:#FF7900;
    font-size: 18px;
    line-height: 1.52;
    text-align: right;
}
.popular-courses__more::after {
    content: '';
    display: inline-block;
    width: 27px;
    height:8px;
    background: url(../images/icon-arrow.png) no-repeat right;
}

/*карусель*/
.carousel-courses {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}
.carousel-courses__title {
    padding:0 69px;
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: center;
    margin-bottom: 40px;
}
.owl-carousel .owl-nav button.owl-prev {
    display: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-next:hover {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../images/owl-next.png) no-repeat;
}
.owl-carousel .owl-nav button.owl-next span {
    display: none;
}
.owl-nav {
    position: absolute;
    top:200px;
    right:70px;
}
.carousel-courses__courses {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 57px;
}
.carousel-courses__block {
    box-sizing: border-box;
    margin: 20px 0px 20px 0px;
    padding: 30px 30px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}
.carousel-courses__block:first-child {
    margin-left: 0;
}
.carousel-courses__block-top {
    color:#A9B2B1;
    font-size: 12px;
    line-height: 1.66;
    margin-bottom: 30px;
}
.carousel-courses__month, 
.carousel-courses__diplom, 
.carousel-courses__hour {
    margin-right: 14px;
}
.carousel-courses__month:before {
    content: '';
    display: inline-block;
    width: 24px;
    height:18px;
    background: url(../images/icon-calendar.png) no-repeat left bottom;
    vertical-align: middle;  
}
.carousel-courses__diplom:before {
    content: '';
    display: inline-block;
    width: 24px;
    height:18px;
    background: url(../images/icon-cubok.png) no-repeat left bottom;
    vertical-align: middle;
}
.carousel-courses__hour:before {
    content: '';
    display: inline-block;
    width: 24px;
    height:18px;
    background: url(../images/icon-watch.png) no-repeat left bottom;
    vertical-align: middle;
}
.carousel-courses__unit:before {
    content: '';
    display: inline-block;
    width: 24px;
    height:18px;
    background: url(../images/icon-unit.png) no-repeat left bottom;
    vertical-align: middle;
}
.carousel-courses__block-name {
    font-size: 30px;
    line-height: 1.22;
    font-weight: 500;
    margin-bottom: 10px;
}
.carousel-courses__block-about {
    font-size: 16px;
    line-height: 1.375;
}
.carousel-courses__description {
    margin-top: 10px;
    margin-bottom: 20px;
}
.carousel-courses__block-link {
    display: inline-block;
    cursor: pointer;
    color:#8892B2;
    font-size: 16px;
    line-height: 1.56;
    text-decoration: none;
    border-bottom: 1px solid #8892B2;
    margin-bottom: 20px;
}
.carousel-courses__block-link:hover,
.carousel-courses__block-link:visited,
.carousel-courses__block-link:focus {
    color:#8892B2;
    text-decoration: none;
}
.less-link {
    display: none;
}
.more-link.hide-link {
    display: none;
}
.less-link.show-link {
    display: inline-block;
}
.carousel-courses__block-list {
    list-style-image: url(../images/icon-bullit-grey.svg);
    padding-left:20px;
    margin: 0px auto;
    color:#8892B2;
    display: none;
}
.carousel-courses__block-list.active-list {
    display: block;
}
.carousel-courses__block-li {
    padding:0 0 10px 10px;
    font-size: 16px;
    line-height: 1.375;
}
.carousel-courses__block-grade {
    margin-bottom: 30px;
}
.carousel-courses__block-gradeblock {
    background-color: #F4F5F0;
    padding:10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
}
.carousel-courses__block-gradepercent {
    color:#565656;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 10px;
}
.carousel-courses__block-gradepercent.like::after {
    content: '';
    display: inline-block;
    width: 16px;
    height:16px;
    background: url(../images/icon-like.png) no-repeat;
    vertical-align: baseline;
}
.carousel-courses__block-gradenote {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 10px;
}
.carousel-courses__block-gradescale {
    width: 110px;
    background-color: #D8D8D8;
    height: 3px;
    border-radius: 20px;
    position: relative;
}
.carousel-courses__block-gradescale span {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    background-color: #565656;
    height: 3px;
    border-radius: 100px;
    width: 83%;
}
.carousel-courses__block-price {
    margin-bottom: 30px;
}
.carousel-courses__block-new {
    font-size: 30px;
    line-height: 1.21;
    font-weight: 500;
    display: inline-block;
    margin-right: 20px;
}
.carousel-courses__block-old {
    color:#8892B2;
    font-size: 20px;
    line-height: 1.825;
    display: inline-block;
    text-decoration: line-through;
}
.carousel-courses__block-notice {
    margin-top: 10px;
    color:#8892B2;
    font-size: 12px;
    line-height: 1.41;
}
.carousel-courses__block-input {
    border:1px solid rgba(110, 121, 146, 0.4);
    border-radius: 10px;
    font-size: 16px;
    padding:15px 43px 15px 23px;
    width: 46%;
    outline: none;
}
.carousel-courses__block-input::placeholder {
    color: rgba(110, 121, 146, 0.4);
}
.carousel-courses__block-btn {
    background-color: #FF7900;
    border-radius: 10px;
    border:1px solid #FF7900;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    padding:15px 55px;
    margin-left: -20px;
    cursor: pointer;
}
.carousel-courses__block--btn {
    background-color: #FF7900;
    border:1px solid #FF7900;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 15px;
}
.carousel-courses__block--btn span {
    display: flex;
    width: 24px;
    height: 17px;
    background: url(../images/icon-card.svg) no-repeat;
    margin-left: 10px;
    background-size: contain;
}
.carousel-courses__block--btnwhite {
    background-color: transparent;
    border:1px solid #FF7900;
    padding:11px 30px;
    color: #FF7900;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

/*результаты обучения*/
.results {
    max-width: 1180px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 49px 80px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 69px;
}
.results__title {
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: center;
    margin-bottom: 40px;
}
.results__title-notice {
    font-size: 18px;
    line-height: 1.38;
    padding-top:13px;
    font-weight: normal;
}
.results__block {
    background-color: #fff;
    padding:30px 40px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.results__block-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 1.16;
    cursor: pointer;
}
.results__block-toggle {
    width: 19px;
    height: 10px;
    display: inline-block;
    float:right;
    background: url(../images/icon-down.svg) no-repeat top center;
}
 
.results__block-toggle.active {
    background: url(../images/icon-up.svg) no-repeat top center;
}
.results__block-listtoggle {display: none;}
.results__block-list {
    display: flex;
    flex-wrap: wrap;
    list-style-image: url(../images/icon-bullit.svg);
    padding-left:20px;
    margin: 30px auto;
}
.results__block-li {
    width: calc(50% - 40px);
    margin-bottom: 16px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: normal;
    padding-left: 5px;
    box-sizing: border-box;
}
.results__block-li:nth-child(2n) {
    margin-right: none; 
}
.results__block-btn {
    background-color: #FF7900;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    padding:15px 55px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
.results__showmore {
    text-align: center;
}
.results__showmore-btn {
    background-color: transparent;
    border:1px solid #FF7900;
    padding:11px 70px;
    color: #FF7900;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

/*промо*/
.promo {
    max-width: 1180px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(41, 44, 208, 1), rgba(29, 119, 204, 1));
    border-radius: 20px;
    padding:0;
    color:#fff;
    margin-bottom: 69px;
}
.promo__inner {
    width: 100%;
    background: url('../images/promo-bg.png') no-repeat right top;
    background-size: contain;
    border-radius: 20px;
}
.promo__container {
    padding: 68px 70px 39px;
    box-sizing: border-box;
    display: flex;
}
.promo__left {
    width: 51%;
    padding-right: 8%;
    box-sizing: border-box;
}
.promo__right {
    width: 49%;
    text-align: right;
}
.promo__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: left;
    margin-bottom: 20px;
}
.promo__text {
    font-size: 18px;
    line-height: 1.38;
}
.promo__text p {
    margin-bottom: 16px;
}
.promo__logo {
    margin-top: 30px;
}
.promo__img {
    width: 100%;
}
.promo__video {
    max-width: 100%;
}

/*блок с дипломом*/
.school {
    max-width: 1180px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 62px 70px 62px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 69px;
}
.school__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    width: 100%;
    text-align: center;
}
.school__left {
    width: 54%;

}
.school__right {
    width: 45%;
    text-align: right;
}
.school__text {
    font-size: 18px;
    line-height: 1.38;
    margin-top:10px;
}
.school__img {
    max-width: 100%;
    box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.19);
}

/* блок вопрос - ответ */
.questions {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 69px;
}
.questions__title {
    padding:0 69px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: center;
    margin-bottom: 40px;
}
.questions__flex {
    display: flex;
    flex-direction: row;
}
.questions__leftcol,
.questions__rightcol {
    width: 50%;
    box-sizing: border-box;
}
.questions__leftcol {
    padding-right: 10px;
}
.questions__rightcol {
    padding-left: 10px;
}
.questions__block {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding:40px;
    border:1px solid #A9B2B1;
    border-radius: 10px;
}
.questions__block-active {
    background-color: #002882;
    color:#fff;
}
.questions__block-title {
    font-size: 28px;
    line-height: 1.07;
    font-weight: 500;
    cursor: pointer;
}
.questions__block-toggle {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    vertical-align: baseline;
    margin-left:20px
}
.questions__block-toggle.plus {
    background: url(../images/icon-plus.svg) no-repeat center center;
}
.questions__block-toggle.minus {
    background: url(../images/icon-minus.svg) no-repeat center center;
}
.questions__block-text {
    font-size: 20px;
    line-height: 1.55;
    padding-top: 13px;
}
.questions__block-showless {
    display: none;
}

/*отзывы*/
.review {
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 69px;
}
.review__title {
    padding:0 69px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.075;
    text-align: center;
    margin-bottom: 40px;
}
.review__flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.review__col {
    width: 33%;
    box-sizing: border-box;
}
.review__col:nth-child(1n) {
    padding-right:10px;
}
.review__col:nth-child(2n) {
    padding:0 10px;
}
.review__col:nth-child(3n) {
    padding-left:10px;
}
.review__block {
    margin-bottom:20px;
    background-color: #F9F9F9;
    padding:40px;
    box-sizing: border-box;
    border-radius: 20px;
}
.review__block-text {
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 20px;
}
.review__block-name {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 5px;
}
.review__block-pos {
    color:rgba(110, 121, 146, 0.4);
    font-size: 14px;
    line-height: 1.42;
}

/*футер*/
.footer {
    width: 100%;
    background-color: #1F2229;
    padding:74px 0;
    color:#fff;
    font-size: 13px;
    box-sizing: border-box;
}
.footer__flex {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.footer__col div {
    margin-bottom: 10px;
}
.footer__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
}
.footer__phone {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

/*попап*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.63);
    z-index: 999;
    user-select: none;
    display: none;
}
.popup--active {
    display: flex;
}
.popup__content {
    position: relative;
    width: 705px;
    padding: 79px 114px 74px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 9px;
    overflow: hidden;
}
.button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.button-close::before, .button-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    right: 0;
    width: 22px;
    height: 1px;
    background-color: #FFFFFF;
}
.button-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.button-close--black::before, .button-close--black::after {
    background-color: #000000;
    height: 2px;
}
.popup__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.21;
}
.popup__desc {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.28;
}
.popup__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}
.btn-bill__link {
    flex-basis: 227px;
}
.popup--btngreen {
    background-color: #FF7900;
    border:1px solid #FF7900;
    padding:11px 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}
.popup--btnwhite {
    background-color: transparent;
    border:1px solid #FF7900;
    padding:11px 40px;
    color: #FF7900;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}


.hide-children .popular-courses__block {
    display: none
}

.isDisplayFlex {
    display: flex !important;
}