@media (min-width: 992px) and (max-width: 1271.98px) {
    .owl-nav {
        right:100px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar {
        padding:15px 0;
    }
    .navbar__logo-img:first-child {
        margin-bottom: 10px;
    }
    .navbar__logo-img:nth-child(2) {
        width: 100px;
    }
    .navbar__menu {
        margin-right: 30px;
    }
    .head__left {
        padding: 50px 0px 40px 40px;
    }
    .head__title, .headpromo__title, .popular-courses__title, .carousel-courses__title, .results__title, .promo__title, .school__title, .questions__title, .review__title {
        font-size: 36px;
    }
    .head__left img {
        width: 450px;
    }
    .head__right img {
        width: 120px;
    }
    .popular-courses__block-name {
        font-size: 24px;
    }
    .popular-courses__block-top {
        font-size: 16px;
    }
    .carousel-courses__block-name {
        font-size: 26px;
    }
    .carousel-courses__block-input {
        width: 40%;
    }
    .carousel-courses__block-btn {
        padding:15px 45px;
    }
    .results {
        padding:45px 50px;
    }
    .promo__container {
        padding: 62px 50px 35px;
    }
    .promo__left {
        width: 55%;
        padding-right:5%;
    }
    .promo__right {
        width: 45%;
    }
    .school {
        padding: 55px 50px;
    }
    .questions__block-title {
        font-size: 24px;
    }
    .questions__block-text {
        font-size: 18px;
    }
    .review__block-name {
        font-size: 18px;
    }
}
@media (min-width: 991px) and (max-width: 1109.98px) {
    .carousel-courses__block--btn,
    .carousel-courses__block--btnwhite {
        padding:11 15px;
    }
    }
@media (max-width: 991.98px) {
    .navbar {
        padding:30px 20px;
    }
    .navbar__logo-img {
        width: 158px;
        height: auto;
    }
    .vtb-logo {
        width: 69px;
        height: auto;
    }
    .navbar__burger {
        position: relative;
        width: 27px; 
        height: 18px;
        display: block;
        z-index: 1000;
    }
    .navbar__burger span, .navbar__burger:after, .navbar__burger:before{
        height: 2px;
        width: 100%;
        position: absolute;
        background: #000000;
        margin: 0 auto;
    }
    .navbar__burger span{
        top: 7px;
    }
    .navbar__burger:after, .navbar__burger:before{
        content: '';
    }
    .navbar__burger:after{
        bottom: 1px;
    }
    .navbar__burger:before{
        top: 0px;
    }
    .navbar__burger.navbar__burger-open span {
        opacity:0; 
        transition: 0.5s; 
    }
    .navbar__burger.navbar__burger-open:before {
        transform: rotate(45deg);
        top: 8px;
        transition: 0.4s;
        background:#fff;
    }
    .navbar__burger.navbar__burger-open:after {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: 0.4s;
        background:#fff;
    }
    .navbar__menu {
        display: block;
        position: absolute;
        left: 0;
        background: #2F38D8;
        color:#fff;
        width: 100%;
        top: -100%;
        transition: all 0.4s ease;
        z-index: 100;
        padding-top: 95px;
        padding-bottom: 90px;
    }
    .navbar__menu.navbar__burger-open {
        top: 0px;
    }
    .navbar__menu li {
        text-align: center;
        padding:15px 0 15px;
        border-bottom: 1px solid rgba(241,255,248,0.34);
        text-transform: uppercase;
    }
    .navbar__menu-link,
    .navbar__menu-link:hover,
    .navbar__menu-link:active,
    .navbar__menu-link:focus {
        color: #fff;
    }
    .navbar__phone-link,
    .navbar__phone-link:hover,
    .navbar__phone-link:active,
    .navbar__phone-link:focus {
        color: #fff;
    }
    .navbar__phone-link::before {
        background: url(../images/icon-phone-white.png) no-repeat left;
    }
    .head {
        margin: 0 20px 69px;
        border-radius: 30px;
        background: #2F38D8;
        min-height: 480px;
    }
    .head__inner {
        border-radius: 30px;
    }
    .head__container {
        flex-wrap: wrap;
        padding:60px 0;
    }
    .head__left {
        width: 100%;
        padding: 0px;
        padding-left:30px;
        padding-right: 30px;
    }
    .head__left::after {
        background: url('../images/head-img-mob.png') no-repeat top center;
        width: 302px;
        height: 237px;
        top:auto;
        left:auto;
        bottom:-220px;
        right:0px;
    }
    .head__text {
        margin-bottom: 10px;
    }
    .head__right {
        text-align-last: left;
        padding-left:30px;
        width: 100%;
        margin-top: 30px;
    }
    .head__title, .headpromo__title, .popular-courses__title, .carousel-courses__title, .results__title, .promo__title, .school__title, .questions__title, .review__title {
        font-size: 34px;
    }
    .headpromo {
        margin: -30px 20px 60px;
        border-radius: 30px;
    }
    .headpromo img {
        width: 250px;
    }
    .popular-courses {
        padding:0 30px;
        box-sizing: border-box;
    }
    .popular-courses__block {
        width: 100%;
        margin-right: 0;
    }
    .popular-courses__block-name {
        font-size: 24px;
    }
    .popular-courses__block-top {
        font-size: 16px;
    }
    .owl-carousel {
        display: block;
    }
    .carousel-courses {
        padding:0 30px;
        box-sizing: border-box;
    }
    .carousel-courses__courses {
        flex-wrap: wrap;
    }
    .carousel-courses__block {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .carousel-courses__block-name {
        font-size: 26px;
    }
    .carousel-courses__block-input {
        width: 40%;
    }
    .carousel-courses__block-btn {
        padding:15px 45px;
    }
    .owl-nav {right:100px;}
    .results {
        padding:45px 30px;
    }
    .promo {
        margin-left: 20px;
        margin-right: 20px;
    }
    .promo__container {
        padding: 40px 30px 30px;
        flex-wrap: wrap;
    }
    .promo__left {
        width: 100%;
    }
    .promo__right {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .school {
        padding: 35px 30px 30px;
        border-radius: 0;
    }
    .school__left {
        width: 100%;
    }
    .school__right {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .questions__block-title {
        font-size: 24px;
    }
    .questions__flex {
        flex-direction: column;
        margin:0 30px;
    }
    .questions__leftcol, .questions__rightcol {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .questions__block-text {
        font-size: 18px;
    }
    .review__flex {
        margin:0 30px;
    }
    .review__col {
        width: 100%;
        padding-right: 0;
        padding-left: 0;

    }
    .review__col:nth-child(1n), .review__col:nth-child(2n),.review__col:nth-child(3n) {
        padding-left: 0;
        padding-right: 0;
    }
    .review__block-name {
        font-size: 18px;
    }
    .footer {
        padding:40px 20px 20px;
    }
    .footer__flex {
        flex-wrap: wrap;
    }
    .footer__col {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .head__title, .headpromo__title, .popular-courses__title, .carousel-courses__title, .results__title, .promo__title, .school__title, .questions__title, .review__title {
        font-size: 30px;
    }
}

@media (max-width: 767.98px) {
    .head {
        min-height: 530px;
    }
    .head__inner {
        background: url('../images/head-bg-mob.png') no-repeat bottom right;
    }
    .head__container {
        flex-wrap: wrap;
        padding:50px 0 20px;
    }
    .head__right img {
        width: 100px;
        align-self: flex-end;
    }
    .head__text {
        font-size: 16px;
    }
    .headpromo {
        padding: 22px 25px;
        border-radius: 20px;
    }
    .headpromo__title {
        width: 100%;
    }
    .headpromo__img {
        display: none;
    }
    .headpromo__btn {
        width: 100%;
        height: 45px;
    }
    .popular-courses__title, .carousel-courses__title {
        padding:0;
    }
    .carousel-courses__block--btn {
        padding:7px;
    }
    .results {
        padding:45px 20px;
    }
    .results__block {
        padding:30px 20px;
    }
    .results__block-li {
        width: 100%;
    }
    .school {
        padding:30px 17px;
    }
    .questions__block-active {
        background-color: #fff;
        color:#000;
    }
    .questions__block-title {
        font-size: 22px;
    }
    .questions__block-text {
        font-size: 16px;
    }
    .promo__inner {
        background: url('../images/promo-bg-mob.png') no-repeat bottom right;
    }
    .popup__promo {
        padding:60px 50px;
    }
}

@media (max-width: 575.98px) {
    .head__title, .headpromo__title, .popular-courses__title, .carousel-courses__title, .results__title, .promo__title, .school__title, .questions__title, .review__title {
        font-size: 24px;
    }
    .head {
    margin-left:0;
    margin-right: 0;
    border-radius: 0;
    }
    .head__inner {
        border-radius: 0px;
    }
}
@media (max-width: 425px) {
    .head__text {
        font-size: 14px;
    }
    .popup__content {
      width: 95%;
      padding: 20px;
    }
    .popup__btn-wrapper {
      flex-direction: column;
      margin-top: 30px;
    }
    .btn-bill__link {
      flex-basis: auto;
    }
    .btn-bill__link:last-of-type {
      margin-top: 15px;
    }
  }