/* Fonts */
@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 400;
    src: local("Lab Grotesque Regular"), local("LabGrotesque-Regular"), url("../fonts/LabGrotesque-Regular.woff2") format("woff2"); }
  
@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 500;
    src: local("Lab Grotesque Medium"), local("LabGrotesque-Medium"), url("../fonts/LabGrotesque-Medium.woff2") format("woff2"); }
  
@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 700;
    src: local("Lab Grotesque Bold"), local("LabGrotesque-Bold"), url("../fonts/LabGrotesque-Bold.woff2") format("woff2"); }
  
@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 900;
    src: local("Lab Grotesque Black"), local("LabGrotesque-Black"), url("../fonts/LabGrotesque-Black.woff2") format("woff2"); }
  
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: local("ProximaNova-Regular"), local("Proxima Nova Regular"), url("../fonts/ProximaNova-Regular.woff") format("woff"); }
  
*,
*::before,
*::after {
    box-sizing: inherit; }
  
html {
    min-width: 1200px;
    box-sizing: border-box;
    background-color: white;
    scroll-behavior: smooth; }
    @media (max-width: 1300px) {
      html {
        min-width: 100%;
        max-width: 100%;} }
    @media (max-width: 425px) {
      html {
        min-width: 360px; } }
  
body {
    position: relative;
    margin: 0;
    font-family: 'Lab Grotesque', "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    background-color: #fff; 
}
  
ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}
  
a {
    text-decoration: none; 
}
  
img {
    max-width: 100%;
    height: auto; 
}
  
input {
    font-family: inherit; 
  }
  
.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .container {
      width: 95%;
      padding: 0; 
    box-sizing: border-box;}   }
  @media (max-width: 425px) {
    .container {
      width: 95%;
      padding: 0; }   }
  
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 26px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #ffffff; 
}
    
.header__logo {
  padding-left: 18px; 
}

.header__signin {
  line-height: 0; 
}

.hero {
  position: relative;
  padding-top: 65px;
  padding-bottom: 50px;
  color: #fff; 
  background: #000;
  min-height: 914px;
  z-index: 20;
  box-sizing: border-box; }
.hero::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 172px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 1075px;
  background: url("../img/hero-img.png") no-repeat center right;
  overflow: hidden;
  background-size: contain; }
  @media (max-width: 1441px) {
    .hero::before {
      width: 100%; }}
  @media (max-width: 1300px) {
  .hero {
    min-height: 880px; }
  .hero::before {
    left:0;} }
  @media (max-width: 425px) {
    .hero {
      margin-top: 27px;
    min-height: auto; }
      .hero::before {
        position: static;}}

.hero__logo {
  width: 229px;
  height: 22px; }
  @media (max-width: 425px) {
    .hero__logo {
      width: 180px;
      height: 18px; } }

.hero__title {
  text-align: center;
  margin: 0;
  margin-top: 67px;
  font-size: 70px;
  font-weight: 900;
  line-height: 110%; }
  @media (max-width: 650px) {
    .hero__title {
      font-size: 60px; } }
  @media (max-width: 425px) {
    .hero__title {
      width: auto;
      margin-top: 30px;
      font-size: 50px; } }

.hero__desc {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  line-height: 140%; }
  @media (max-width: 425px) {
    .hero__desc {
      width: auto;
      font-size: 18px; } }

.hero__button {
  z-index: 40;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 388px;
  height: 68px;
  margin: 40px auto 0;
  padding: 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
  background-color: #F1361D;
  border: none;
  border-radius: 10px;
  transition: 0.2s; }

.hero__button:hover {
    background-color: #D92411; }
  @media (max-width: 425px) {
    .hero__button {
      width: 90%;
      height: 60px;
      font-size: 20px;} }

.about {
  position: relative;
  margin-top: 210px;
  text-align: center;
  padding-bottom: 73px; }
  @media (max-width: 1082px) {
    .about {
      margin-top: 110px; } }
  @media (max-width: 800px) {
    .about {
      margin-top: 50px; } }

.about__desc {
  font-size: 30px;
  line-height: 130%;
  font-weight: 700;
  width: 1042px;
  margin:0 auto 30px;}
  @media (max-width: 1300px) {
    .about__desc {
      width: 90%; } }
  @media (max-width: 425px) {
    .about__desc {
      font-size: 24px; } }

.about__alert {
  background-color: #F1361D;
  color:#fff;
  padding:2px 9px 4px 9px;
  border-radius: 8px;}

.about__notice {
  font-size: 24px;
  line-height: 122%;
  width: 770px;
  margin:0 auto;}
  @media (max-width: 1300px) {
    .about__notice {
      width: 90%; } }
  @media (max-width: 425px) {
    .about__notice {
      font-size: 18px; } }

.carausel {
  position: relative;
  padding:80px 0 30px 0;
  background-color: #FAF8F5;}

.carausel__title {
  width: 898px;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 700;
  line-height: 122%;
  text-align: center;
  margin-bottom: 64px; }
  @media (max-width: 900px) {
    .carausel__title {
      width: 90%; } }

.carausel__wrapper {
  padding:50px 0 90px; 
  background-color: #FAF8F5;}
  @media (max-width: 600px) {
    .carausel__wrapper {
      padding:40px 0 40px; } }

.carausel__block {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 600px) {
  .carausel__block {
    padding: 30px 20px;
    border-radius: 30px; } }
  @media (max-width: 425px) {
  .carausel__block {
    width: 95%;
    padding: 10px; } }

.carausel__inner {
    width: 440px;}
    @media (max-width: 900px) {
      .carausel__inner {
        width: 90%;
        padding: 10px; } }
    
.carausel__pic {
    position: absolute;
    top:30px;
    left:40%;
    width: 1072px;
    height: 625px;
    background: url("../img/carausel-img-1.png") no-repeat top left;
    background-size: cover;
    overflow: hidden; }
    @media (max-width: 900px) {
      .carausel__pic {
        display: none; } }

.carausel__caption {
  font-size: 50px;
  font-weight: 700;
  line-height: 130%;
  color: #C7C7C7; }

.carausel__text {
    margin: 0;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 122%;
    margin-bottom: 49px; }
    @media (max-width: 900px) {
      .carausel__text {
        font-size: 20px; } }

.carausel_bar {
  position: relative;
  z-index: 5;
  width: 100%;
  background-color: #E5E5E5;
  height: 6px;
  border-radius: 100px;}
  .carausel_bar span {
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    background-color: #F1361D;
    height: 6px;
    border-radius: 100px;}
  .carausel_bar-slide1 span {
    width: 25%;  }
  .carausel_bar-slide2 span {
    width: 50%;  }
  .carausel_bar-slide3 span {
    width: 75%;  }
  .carausel_bar-slide4 span {
    width: 100%;  }

.carausel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 22px;
  color: #fff;
  background-color: #F1361D;
  border: none;
  border-radius: 10px;
  transition: 0.2s;}

  .carausel__button:hover {
    background-color: #D92411; }
  @media (max-width: 900px) {
    .carausel__button {
      height: 50px;
      font-size: 20px;
    padding:0 5px;} }

.carausel__notice {
  font-size: 14px;
  line-height: 122%;
  font-weight: 400; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-prev:hover {
    position: absolute;
    left:-50px;
    width: 52px;
    height: 42px;
    background: url("../img/owl-prev.png") no-repeat; }
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-next:hover {
    position: absolute;
    width: 52px;
    height: 42px;
    background: url("../img/owl-next.png") no-repeat; }
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
      display: none; }
.owl-nav {
    position: absolute;
    top:93px;
    left:calc(50% - 150px);}
    @media (max-width: 960px) {
      .owl-nav {
        left:calc(50% - 50px);}}
    @media (max-width: 900px) {
      .owl-nav {
        left:80%; } }
    

.preorder {
  position: relative;
  background-color: #000;
  padding:97px 0 103px 0;}

.preorder__title {
  width: 1050px;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  color:#fff;
  margin-bottom: 30px;}
  @media (max-width: 1100px) {
    .preorder__title {
      width: 90%; } }
  @media (max-width: 425px) {
    .preorder__title {
      font-size: 24px;
      line-height: 130%; } }

.preorder__form {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  align-items: flex-end;
  grid-column-gap: 20px;
  margin-top: 26px; }
  @media (max-width: 1200px) {
    .preorder__form {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 25px;} }
  @media (max-width: 600px) {
    .preorder__form {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 25px; } }

.preorder__form-label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: 62px;
  margin-right: 16px;
  margin-bottom: 0; }
  @media (max-width: 1200px) {
    .preorder__form-label {
      margin-bottom: 17px; } }
  @media (max-width: 425px) {
    .preorder__form-label {
      width: 100%;
      margin-right: 0;} }

.preorder__form-input {
  height: 100%;
  padding-left: 16px;
  font-size: 20px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  outline: none; }
  .preorder__form-input:focus {
    transition: 0.3s;
    border: 1px solid #000; }
  @media (max-width: 425px) {
    .preorder__form-input {
      margin-top: 0; } }

.preorder__button {
  width: 100%;
  height: 62px;
  margin-left: auto;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  background-color: #F1361D;
  border: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.2s; }
  .preorder__button:hover {
    background-color: #D92411; }
  @media (max-width: 425px) {
    .preorder__button {
      width: 100%;
      margin-top: 7px; } }

.preorder__form-permission {
  grid-column: 1/5;
  width: 230px;
  margin: 10px 0 0 auto;
  font-size: 12px;
  line-height: 18px;
  text-align: right; }
  @media (max-width: 425px) {
    .preorder__form-permission {
      width: 100%;
      text-align: right;
      grid-column: 1/1;
      margin: 17px auto 0; } }


.skill-passport {
  padding: 78px 0 35px;
  background-color: #FAF8F5; }
  @media (max-width:1100px) {
    .skill-passport {
      padding: 60px 0 35px; }}
  @media (max-width: 425px) {
    .skill-passport {
      padding: 40px 0 25px; }}

.skill-passport__title {
  margin: 0;
  text-align: center; 
  font-size: 35px;
  font-weight: 700;
  line-height: 130%; }
  @media (max-width: 425px) {
    .skill-passport__title {
      font-size: 24px; } }

.skill-passport__desc {
  width:651px;
  margin:10px auto 90px;
  text-align: center; 
  font-size: 24px;
  font-weight: 500;
  line-height: 140%; }
  @media (max-width: 1080px) {
    .skill-passport__desc {
      width:90%;
      margin:10px auto 50px;}   }

  @media (max-width: 425px) {
    .skill-passport__desc {
      margin-top: 20px;
      font-size: 16px; } }

.skill-passport__wrapper {
  display: flex;
  align-items: flex-start; 
  background-color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 150px;}
  @media (max-width: 1100px) {
    .skill-passport__wrapper {
      margin-bottom: 100px;
    align-items: center;} }
  @media (max-width: 600px) {
    .skill-passport__wrapper {
      margin-bottom: 50px; 
    border-radius: 30px;} }

.skill-passport__wrapper-left {
  justify-content: flex-end; }
  @media (max-width: 600px) {
    .skill-passport__wrapper-left {
      justify-content:flex-start;} }

.skill-passport__content {
  width: 450px;
  align-self: center;}
  @media (max-width: 1200px) {
    .skill-passport__content {
      width:40%;
      padding:20px 0;} }
  @media (max-width: 600px) {
    .skill-passport__content {
      width:90%;
      padding:20px 30px;} }

.skill-passport__text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 122%;}
  @media (max-width: 1200px) {
    .skill-passport__text {
      font-size: 18px;}}
  @media (max-width: 425px) {
    .skill-passport__text {
      font-size: 16px;}}
 
.skill-passport__pic {
  width: 663px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: 15px;
  object-fit: cover; }
  @media (max-width: 1200px) {
    .skill-passport__pic {
      width:50%;}}
  @media (max-width: 600px) {
    .skill-passport__pic {
      display: none;}}

.skill-passport__wrapper-left .skill-passport__pic {
  margin-left: 0px;
  margin-right: 15px;}
    

.social {
  position: relative;
  background-color: #000;
  padding:106px 0 113px 0; }
  @media (max-width: 425px) {
    .social {
      padding:50px 0 53px 0;} }

.social__list {
  display: grid;
  grid-template-columns: 380px 760px;
  column-gap: 20px; }
  @media (max-width: 1200px) {
    .social__list {
      grid-template-columns: 35% 62%; } }
  @media (max-width: 900px) {
    .social__list {
      grid-template-columns: 1fr; } }
  @media (max-width: 425px) {
    .social__list {
      grid-template-columns: 1fr;
      row-gap: 15px; } }

.social__item {
  position: relative;
  padding: 71px 30px 26px 30px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px; }
  .social__item::before {
    content: '';
    position: absolute;
    top: 41px;
    left: 30px;
    width: 59px;
    height: 59px;
    background-size: contain;
    background-repeat: no-repeat; }
  .social__item--tg::before {
    width: 59px;
    background-image: url("../img/social-tg.svg"); }
  @media (max-width: 1200px) {
      .social__item {
        padding: 51px 30px 26px 30px; } }
  @media (max-width: 900px) {
      .social__item {
        margin-bottom: 20px; } }
  @media (max-width: 425px) {
    .social__item {
      min-height: 109px;
      padding: 30px 30px 18px 26px;
      font-size: 18px; }
    .social__item::before {
      top: 25px;
      left: 22px;
      width: 37px;
      height: 37px; } }

.social__item--ques {
    flex-direction: row;}
.social__item--flex {
    width: 50%;}
    @media (max-width: 425px) {
      .social__item--ques {
        flex-direction: column;}
      .social__item--flex {
        width: 90%;}
    }

.social__item-text {
  margin: 0;
  font-size: 20px;
  text-align: left;
  line-height: 122%;
  font-weight: 700; }
  @media (max-width: 425px) {
    .social__item-text {
      font-size: 17px;
      text-align: left; } }
  .social__item-text:last-child {
    align-self: flex-end;  }
  .social__item--tg .social__item-text {
    margin-top:60px;}

.social__item-text-light {
  font-weight: 400;
  font-size: 16px;
  padding-right: 15px;
  padding-top: 19px;}
  @media (max-width: 425px) {
    .social__item-text {
      font-size: 17px;
      text-align: left; } }

.social__item-link {
  color:#F1361D;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #F1361D;
  align-self:flex-end;}

.social__item-link:visited {
  color:#F1361D;}

.social__item-form--label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-transform: uppercase;
  width: 95%;
  height: 45px;
  margin-bottom: 10px; }
  @media (max-width: 425px) {
    .social__item-form--label {
      width: 100%;} }
.social__item-form--label:nth-child(2) {
  height:120px;
}
.social__item-form--input {
  height: 100%;
  padding-left: 16px;
  font-size: 16px;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  outline: none; }
  .social__item-form--input:focus {
    transition: 0.3s;
    border: 1px solid #000; }
  @media (max-width: 425px) {
    .social__item-form--input {
      margin-top: 0; } }

.social__item-form--textarea {
  height: 120px;
  padding-left: 16px;
  font-size: 16px;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  outline: none;
  padding-top:10px;
  font-family: 'Lab Grotesque', "Arial", sans-serif;;
  font-size: 16px;}    
  .social__item-form--textarea:focus {
    transition: 0.3s;
    border: 1px solid #000;  }  

.social__item--button {
  display: inline-block;
  color:#F1361D;
  font-weight: 700;
  text-decoration: none;
  border:none;
  border-bottom: 1px solid #F1361D;
  align-self:flex-start;
  padding:20px 0 0 0;
  font-size: 18px;
  outline: none;
  background-color: #fff;}


      
.footer {
  font-family: "ProximaNova", "Arial", sans-serif;
  border-top: 1px solid #fff;
  background-color: #000; 
  color:#fff;}

.footer__wrapper {
  display: flex;
  align-items: flex-end;
  margin: 65px auto 0;
  padding: 0 0 80px 0;
  line-height: 16px; }
  @media (max-width: 800px) {
    .footer__wrapper {
      flex-direction: column;
      align-items: flex-start;
      width: auto;} }
  @media (max-width: 425px) {
    .footer__wrapper {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      margin-top: 40px;
      padding-bottom: 54px; } }

.footer__copyright {
  margin: 0;
  font-size: 13px; }

.footer__copyright-link {
  display: flex;
  flex-direction: column;
  display: inline;
  color: #fff; }
  @media (max-width: 425px) {
    .footer__copyright-link {
      width: 326px;
      font-size: 11px;
      line-height: 13px; } }

.footer__policy {
  display: block;
  margin-top: 10px;
  color: #fff; }
  @media (max-width: 425px) {
    .footer__policy {
      width: 100%; } }

.footer__callback {
  margin: 0;
  margin-left: 185px;
  font-size: 13px; }
  @media (max-width: 1100px) {
    .footer__callback {
      margin-left: 65px; } }
  @media (max-width: 800px) {
    .footer__callback {
      margin-left: 0;
      margin-top: 30px; } }
  @media (max-width: 425px) {
    .footer__callback {
      margin-top: 26px;
       } }

.footer__phone {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff; }
  @media (max-width: 425px) {
    .footer__phone {
      position: relative;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.27px; }
      .footer__phone::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -48px;
        width: 48px;
        height: 48px;
        background: url("../img/icon/icon-phone.svg") no-repeat;
        display: none; } }

.footer__logo {
  width: 229px;
  height: 22px;
  margin-left: auto; }
  @media (max-width: 800px) {
    .footer__logo {
      margin-left: 0;margin-top: 30px; } }
  